/*===============================================================
                    Container
===============================================================*/
.app-task-screen__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*===============================================================
                    Filter task
===============================================================*/

.app-task-screen__filter-task {
  padding-left: 10px;
}

/*===============================================================
                    Tasks Viewport
===============================================================*/

.app-task-screen__viewport {
  flex: 1;
}
